{% extends 'jobapp/base.html' %}

{% load static %}
{% block content %}

  <!-- About Section Start -->
  <section class="about section" id="about"> 
    <div class="container">
      <div class="row">
        <div class="section-title padd-15">
          <h2>About Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="about-content padd-15">
          <div class="row">
            <div class="about-text padd-15">
              <h3>I'm Raj Chauhan and <span>Full Stack Developer</span></h3>
<p>An enthusiastic and adaptable professional seeking a challenging role that leverages my technical expertise in Python, Django, and front-end development. I am passionate about building innovative solutions, solving complex problems, and collaborating with teams to drive results.</p>                </div>
          </div>
          <div class="row">
            <div class="personal-info padd-15">
              <div class="row">
                <div class="info-item padd-15">
                </div>
                <div class="info-item padd-15">
                </div>
                <div class="info-item padd-15">
                  <p>Website : <span></span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Email : <span>raajchauh@gmail.com</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Degree : <span>Fullstack Software Development</span></p>
                </div>
                <div class="info-item padd-15">
                </div>
                <div class="info-item padd-15">
                  <p>City : <span>Toronto, ON</span></p>
                </div>
                <div class="info-item padd-15">
                  <p>Freelnace : <span>Available</span></p>
                </div>
              </div>
              <div class="row">
                <div class="buttons padd-15">
                  <a href="#contact" data-section-index="1" class="btn hire-me">Hire Me</a>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
            <div class="education padd-15">
              <h3 class="title">Education</h3>
              <div class="row">
                <div class="timeline-box padd-15">
                  <div class="timeline shadow-dark">
                    <!-- ===== timeline item ===== -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h3 class="timeline-date">
                        <i class="fa fa-calendar"></i> 2019 - 2022
                      </h3>
                      <h4 class="timeline-title">BSc(Hons) Computing</h4>
                      <p class="timeline-text">London Metropolitan University
                         Holloway Rd, London, United Kingdom
                      </p>
                    </div>
                         <!-- ===== timeline item ===== -->
                         <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> 2024 - Present
                          </h3>
                          <h4 class="timeline-title">Postgraduate</h4>
                          <h4 class="timeline-title">Full Stack Software Development</h4>
                          <p class="timeline-text">Lambton College | Mississauga, ON, Canada</p>
                        </div>
                             <!-- ===== timeline item ===== -->

                  </div>
                </div>
              </div>
            </div>
            <div class="experience padd-15">
              <h3 class="title">Experience</h3>
              <div class="row">
                <div class="timeline-box padd-15">
                  <div class="timeline shadow-dark">
                    <!-- ===== timeline item ===== -->
                    <div class="timeline-item">
                      <div class="circle-dot"></div>
                      <h3 class="timeline-date">
                        <i class="fa fa-calendar"></i> Nov 2021 - Sep 2015
                      </h3>
                      <h4 class="timeline-title">Full Stack Developer</h4>
                      <p class="timeline-text">Hunchha Digital Agency Pvt. Ltd. </p>
                      <p class="timeline-text">Itahari,Nepal </p>
                    </div>
                         <!-- ===== timeline item ===== -->
                         <div class="timeline-item">
                          <div class="circle-dot"></div>
                          <h3 class="timeline-date">
                            <i class="fa fa-calendar"></i> July 2021 - sep 2022
                          </h3>
                          <h4 class="timeline-title"> Full Stack Software Developer</h4>
                          <p class="timeline-text">Cubical Technologies Pvt. Ltd.</p>
                          <p class="timeline-text">Itahari, Nepal</p>
                        </div>
                             <!-- ===== timeline item ===== -->

                             <div class="timeline-item">
                              <div class="circle-dot"></div>
                              <h3 class="timeline-date">
                                <i class="fa fa-calendar"></i> 2020 - 2021
                              </h3>
                              <h4 class="timeline-title">Freelance Developer</h4>
                              <p class="timeline-text">Contacts, Bidding, Upwork and Freelancer</p>
                              <p class="timeline-text">Itahari, Nepal</p>
                            </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}